@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700;900&display=swap');

@font-face {
  font-family: 'BBH Hegraty';
  src: url('/public/assets/fonts/BBH-Hegraty.woff2') format('woff2'); /* Ajuste le chemin */
  font-weight: bold;
}

html {
  scroll-behavior: smooth; /* Essentiel pour ta One Page */
}

body {
  @apply bg-canvas text-primary font-body;
}